@page "/people"

@using DataLibrary
@inject IDataAccess _data
@inject IConfiguration _config

<h3>People</h3>
@if (peoples == null)
{
    <p><em>Loading.....</em></p>
}
else
{
    @foreach (var people in peoples)
    {
        <p>@people.FullName</p>
    }
}

@code {

    List<PersonModel> peoples;

    protected async  override Task OnInitializedAsync()
    {
        var sql = "select * from people";

        peoples =  await _data.LoadData<PersonModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }

}
